* {
    margin: 0;
    border: 0;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    color: #f7f7fc;
    font-family: Azeret Mono;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: grey;
    padding: 50px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    margin-right: 30px;
    font-size: 25px;
}
nav li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #efd5d5;
}
nav li a:hover {
    text-decoration: underline;
    background: blue;
    color: white;
    transition: all 0.3s;
    border-radius: 10px;
}
nav button {
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background: green;
    color: white;
    cursor: pointer;
}

nav button:hover {
    background: blue;
    color: white;
}
.main-part {
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    height: 640px;
}

img {
    width: 240px;
    height: 240px;
}
.main-title {
    width: 998;
    font-size: 48px;
    font-weight: 800;
    font-family: Azeret Mono;
    color: #0d1321;
    line-height: 68px;
}
.main-description {
    font-size: 16px;
    font-family: Azeret Mono;
    color: #0d1321;
    line-height: 26px;
    width: 852px;
}
main button {
    width: 240px;
    height: 62px;
    border-radius: 8px;
    background-color: #0d1321;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 35%;
    cursor: pointer;
}
button:hover {
    background: green;
    color: #ffff;
}
.main-container {
    margin: 0 auto;
    width: 998px;
}
.main-container img {
    margin: 0 auto;
    margin-left: 330px;
}
/* shared  start*/
.title {
    width: 850px;
    height: 32px;
    font-size: 32px;
    font-weight: 800;
    font-family: Azeret Mono;
    color: #0d1321;
    line-height: 10px;
    margin-top: 350px;
}

.image {
    width: 274px;
    height: 240px;
}
.share-title {
    width: 390px;
    height: 72px;
    font-size: 24px;
    font-weight: bold;
    font-family: Azeret Mono;
    color: #0d1321;
    line-height: 30px;
}
.share-description {
    width: 468px;
    height: 52px;
    font-size: 16px;
    font-family: Azeret Mono;
    line-height: 26px;
    color: #0d1321;
}
.share-container {
    display: flex;
    width: 477px;
    height: 219px;
    margin: 0 auto;
    margin-top: 90px;
    margin-left: 30%;
    justify-content: space-between;
}
.ancor {
    width: 171px;
    height: 47px;
    /* letter-spacing: 10px; */
    padding: 12px 20px;
    color: #0d1321;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    font-family: Azeret Mono;
    border: 1px;
}
.learn {
    width: 284px;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    font-family: Azeret Mono;
}
.html-bg {
    border-radius: 16px;
    background: #e8e4e4;
    width: 364px;
    height: 200px;
}
.css-bg {
    border-radius: 16px;
    background: #d6dff1;
    width: 364px;
    height: 200px;
}
.js-bg {
    border-radius: 16px;
    background: #f3efdd;
    width: 364px;
    height: 200px;
}
.part {
    padding: 25px;
}
/* shard close */
.center {
    width: 852px;
    height: 108px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
.container {
    display: flex;
    width: 477px;
    height: 219px;
    margin: 0 auto;
    margin-top: 90px;
}
iframe {
    border-radius: 16px;
    width: 1076px;
    height: 550px;
    margin-top: 80px;
    margin-left: 20%;
}
/* skill  */
.skills-container {
    width: 800px;
    height: 200px;
    display: flex;
    gap: 8px;
    margin: 0 auto;
    margin-top: 48px;
    justify-content: center;
}
.skill {
    border: 1px solid black;
    gap: 6px;
    text-align: left;
    padding: 20px 20px;
    height: 200px;
}
.skill img {
    width: 56px;
    height: 56px;
}
.skill-title {
    width: 284px;
    height: 36px;
    font-size: 24px;
    font-weight: 800;
    font-family: Azeret Mono;
    color: #0d1321;
}
.skill-description {
    width: 284px;
    height: 52px;
    font-size: 16px;
    font-family: Azeret Mono;
    color: #0d1321;
}
/* target */
.target {
    display: flex;
    width: 1140px;
    height: 219px;
    border: 1px solid black;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    margin-top: 10px;
}
.target img {
    width: 95px;
    height: 96px;
}
.target-title {
    width: 942px;
    height: 52px;
    font-size: 24px;
    font-weight: 900;
    font-family: Azeret Mono;
    color: #0d1321;
}
.terget-description {
    width: 892px;
    height: 52px;
    line-height: 26px;
    font-size: 16px;
    font-family: Azeret Mono;
    color: #0d1321;
}
/* footer */
.foot {
    background-image: url(../assets/handshake.jpg);
    max-width: 1140px;
    height: 313px;
    border-radius: 16px;
    margin: 0 auto;
    border: none;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    width: 1100px;
    height: 270px;
    margin-top: 60px;
    text-align: center;
    padding: 20px;
}
.foot-title {
    height: 292px;
    height: 36px;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    color: #ffff;
    font-family: Azeret Mono;
}
.foot-description {
    width: 606px;
    height: 52px;
    line-height: 26px;
    font-size: 16px;
    font-family: Azeret Mono;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 20px;
}
input {
    width: 400px;
    height: 54px;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 20px;
    color: #596275;
}
.search .btn-foot {
    width: 120px;
    height: 74px;
    border-radius: 8px;
    padding: 20px 17px;
    font-size: 20px;
    font-weight: 600;
    color: #0d1321;
    font-family: Azeret Mono;
}
.search {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin: 16px;
    gap: 5px;
}
