* {
    margin: 0;
    border: 0;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    color: #f7f7fc;
    font-family: Azeret Mono;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: grey;
    padding: 50px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    margin-right: 30px;
    font-size: 25px;
}
nav li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #efd5d5;
}
nav li a:hover {
    text-decoration: underline;
    background: blue;
    color: white;
    transition: all 0.3s;
    border-radius: 10px;
}
nav button {
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background: green;
    color: white;
    cursor: pointer;
}

nav button:hover {
    background: blue;
    color: white;
}
.main-part {
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    height: 640px;
}

img {
    width: 240px;
    height: 240px;
}
.main-title {
    width: 998;
    font-size: 48px;
    font-weight: 800;
    font-family: Azeret Mono;
    color: #0d1321;
    line-height: 68px;
}
.main-description {
    font-size: 16px;
    font-family: Azeret Mono;
    color: #0d1321;
    line-height: 26px;
    width: 852px;
}
main button {
    width: 240px;
    height: 62px;
    border-radius: 8px;
    background-color: #0d1321;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 35%;
    cursor: pointer;
}
button:hover {
    background: green;
    color: #ffff;
}
.main-container {
    margin: 0 auto;
    width: 998px;
}
/* shared  start*/
.title {
    width: 850px;
    height: 32px;
    font-size: 32px;
    font-weight: 800;
    font-family: Azeret Mono;
    color: #0d1321;
    line-height: 10px;
}

.image {
    width: 274px;
    height: 240px;
}
.share-title {
    width: 390px;
    height: 72px;
    font-size: 24px;
    font-weight: bold;
    font-family: Azeret Mono;
    color: #0d1321;
    line-height: 30px;
}
.share-description {
    width: 468px;
    height: 52px;
    font-size: 16px;
    font-family: Azeret Mono;
    line-height: 26px;
    color: #0d1321;
}
.share-container {
    display: flex;
    width: 477px;
    height: 219px;
    margin: 0 auto;
    margin-top: 90px;
    margin-left: 30%;
    justify-content: space-between;
}
.ancor {
    width: 171px;
    height: 47px;
    /* letter-spacing: 10px; */
    padding: 12px 20px;
    color: #0d1321;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    font-family: Azeret Mono;
    border: 1px;
}
.learn {
    width: 284px;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    font-family: Azeret Mono;
}
/* shard close */
.center {
    width: 852px;
    height: 108px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}
.container {
    display: flex;
    width: 477px;
    height: 219px;
    margin: 0 auto;
    margin-top: 90px;
}
iframe {
    border-radius: 16px;
    width: 1076px;
    height: 550px;
    margin-top: 80px;
    margin-left: 20%;
}
/* skill  */
.skills-container {
    display: flex;
    margin-top: 48px;
}
.skill img {
    width: 56px;
    height: 56px;
}
.skill-title {
    width: 284px;
    height: 36px;
    font-size: 24px;
    font-weight: 800;
    font-family: Azeret Mono;
    color: #0d1321;
}
.skill-description {
    width: 284px;
    height: 52px;
    font-size: 16px;
    font-family: Azeret Mono;
    color: #0d1321;
}
